* {
    box-sizing: border-box;
}

body {
    background-color: #272727;
    color: white;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.navbar-style {
    background-color: black;
    color: white;
}

.navbar-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-title:hover {
    color: white;
}

.navbar-text2 {
    color: white !important;
    text-decoration: none;
}

.cover-image {
    background-image: url('/static/images/imagen1.jpg'); 
    height: 600px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    
    /* height: 100vh; */
}

.sports-images {
    height: 200px;
    width: 100%; /* Ancho automático */
    object-fit: cover; /* Mantiene la proporción y cubre el área */
    filter: brightness(50%);

}

.sports-query {
    background-color: black;
    color: white;
    border: none;
}

.sports_link {
    text-decoration: none;
}

.image-about-me {
    height: 300px;
    width: auto;
}

.footer {
    background-color: black !important;
    color:  white;
}

.social-query {
    background-color: #272727;
    color: white;   
}

.footer-links {
    text-decoration: none;
    color: white;
}

.otro-footer {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* login y register */
.custom-card {
    background-color: #302e2e;
    color: white;
}

.form-control {
    background-color: #302e2e;
    color: white;
    outline: none;
}

.form-control:focus {
    background-color: #302e2e;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}

.form-control::placeholder {
    color: white;
}



button {
    background-color: #0d6efd;
}

/* links de regisrarte e iniciar sesión */
.links-acces {
    text-decoration: none;
}



