<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %} El Fulbito {% endblock %}</title>
</head>
<body>
    {% block header %}
        <h1><a href="{% url 'index' %}">El Fulbito</a></h1>
    {% endblock %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
        <h1>Predio el Fulbito</h1>
        <h2>Reserva turnos para nuestras canchas</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, odio tempora officiis maxime alias minus labore, voluptatem quam eveniet libero temporibus eum aut. Soluta corrupti sed repellat provident necessitatibus excepturi.</p>
        <a href="{% url 'futbol_view' %}">Fútbol</a>
        <a href="{% url 'paddel_view' %}">Paddel</a>
    {% endblock %}

    {% block footer %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'admin_logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'admin_login_view' %}">Iniciar sesión</a>
            <a href="{% url 'registro_usuario_view' %}">Registrarse</a>
        {% endif %}
    {% endblock %}

</body>
</html>