{% extends 'base.html' %}

{% block title %} Iniciar Sesión {% endblock %}

{% block content %} 

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            ¡Inicia Sesión!<br />
                            <span class="text-primary">Para reservar de forma sencilla</span>
                        </h1>
                    </div>
            
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card custom-card">
                            <div class="card-body py-5 px-md-5">
                                <form action="{% url 'verifica_admin_view' %}" method="post">
                                    {% csrf_token %}
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Correo Electronico"/>
                                    </div>
                    
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" name="passwrd" id="passwrd" class="form-control" placeholder="Contraseña"/>
                                    </div>
                    
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                        Iniciar Sesión
                                    </button>

                                    <p>¿No tienes una cuenta? <a href="{% url 'registro_usuario_view' %}" class="links-acces">Registrate</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}